.DS_Store
# .env
composer.lock
package-lock.json
/node_modules/

# Frontend-related
/public/css
/public/js
/public/*.js
/site/templates/default.php

# Kirby-related
.lock
/public/media/*
!/public/media/index.html
/storage/accounts/*
!/storage/accounts/index.html
/storage/cache/*
!/storage/cache/index.html
/storage/sessions/*
!/storage/sessions/index.html
/site/config/.license

/site/config/.retour
/site/config/redirects.yml
/site/logs/
