.skiplink {
  position: absolute;
  top: 5px;
  border: 0 none;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    position: fixed;
    width: auto;
  }
}
