.skip-to-content-link {
  position: absolute;
  left: 50%;
  height: 2rem;
  padding: 0.5rem;
  background: #e77e23;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &:focus {
    transform: translateY(0%);
  }
}
